<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="css/stylelogin.css">
</head>
<body>
  <!-- Halaman Sign Up -->
  <div class="container">
    <div class="form-container">
      <img src="/images/additonal/Logo.png" alt="Logo" class="logo">
      <h1>Sign Up</h1>
      <p>Silahkan Registrasi Username dan Password anda</p>
      <form action="/signup" method="POST">
        <input type="text" id="username" name="username" placeholder="Username" class="input">
        <input type="password" id="password" name="password" placeholder="Password" class="input">
        <p><a href="/">Sudah Sign Up???</a></p>
        <button type="submit" class="btn">Sign Up</button>
      </form>
      
    </div>
  </div>
</body>
</html>
